.yith-figure.yith-figure-screen {
  height: 100%;
  opacity: 0;
  transition: all 200ms ease-in-out;
  position: absolute;
  left: 0;
  top: 0;

  &.yith-figure-screen-active {
    opacity: 1;
  }

  .yith-figure--preview {
    height: inherit;

    .yith-figure--preview--inner {
      flex-direction: column;
      overflow: hidden;
      width: 100%;
      height: 100%;
      justify-content: center;
      text-align: center;
      background-color: darken($primary, 5) !important;

      a,
      a:visited {
        background-color: transparent;
        margin: 2em auto;
        max-width: calc(100% - 4em);
        max-height: calc(100% - 4em);
        flex-shrink: 1;
        flex-grow: 0;
        box-shadow: none !important;
        filter: none !important;
        transform: none !important;

        > div {
          display: flex;
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
          justify-content: center;
          text-align: center;
          flex-direction: column;
          flex-shrink: 1;
          flex-grow: 0;
          position: relative;
        }

        img {
          width: 100%;
          height: 100%;
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
          box-shadow: none !important;
          filter: none !important;
          transform: none !important;
        }
      }
    }
  }
}
