.yith-figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;

  .yith-figure--preview {
    display: flex;

    .yith-figure--preview--inner {
      display: flex;
      position: relative;
      overflow: hidden;
      box-shadow: $box-shadow;

      a,
      a:visited {
        z-index: 1;
        display: flex;
        flex-shrink: 1;
        flex-grow: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: transparent !important;
        font-size: 0.833em;
        letter-spacing: 0.1em;
        cursor: pointer;
        box-sizing: border-box;
        box-shadow: none;
        font-weight: 700;
        line-height: 1.25em;
        font-family: $sans;
        text-shadow: none !important;
        background-color: $muted;
        text-transform: uppercase;
        overflow: hidden;
        transition: all 200ms ease-in-out;
        border-radius: 5px;

        img {
          margin: 0;
          display: block;
          position: relative;
          z-index: 0;
          width: 300px;
          max-width: 100%;
          transition: all 200ms ease-in-out;
          transform: scale3d(1, 1, 1);
          filter: blur(0);
          opacity: 1;
        }

        &::after {
          position: absolute;
          background-color: rgba($primary, 1);
          content: 'Expand in Viewer';
          color: $white;
          text-shadow: 0 0 0 rgba(0, 0, 0, 0);
          padding: 0.75em 1em;
          border-radius: 5px;
          opacity: 0;
          transition: all 200ms ease-in-out;
        }

        &:hover,
        &:focus {
          color: white;
          text-shadow: 0.0625em 0.0625em 0.125em rgba(0, 0, 0, 0.75);
          background-color: rgba($darken1, 0.92);
          box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);

          &::after {
            opacity: 1;
          }

          img {
            transform: scale3d(1.1, 1.1, 1.1);
            opacity: 0.76;
            filter: blur(2px);
          }
        }
      }
    }
  }

  figcaption {
    margin-top: 1em;
    font-family: $sans;
    position: relative;
    z-index: 0;
    line-height: 1.25rem;

    strong {
      font-size: 1em;
      font-weight: 800;
    }

    p {
      font-size: 0.8333em;
    }

    em {
      font-size: 0.7222em;
      font-weight: 300;
    }
  }
}
