.yith-teaser {
  display: flex;
  width: 100%;
  height: 400px;

  @include breakpoints(xxs, xs) {
    height: auto;
  }

  .yith-teaser-figure {
    width: 100%;
  }

  img {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.yith-teaser-background {
    position: relative;
    justify-content: flex-end;
    margin-left: -3em;
    width: calc(100% + 6em);

    .yith-teaser-figure {
      display: flex;
      justify-content: flex-end;

      img {
        position: relative;
        z-index: 1;
        min-width: unset;
        min-height: unset;
        width: auto;
        margin: 3em;
        height: calc(100% - 6em);
        box-shadow: $box-shadow;
        transition: all 200ms ease-in-out;
        transform: scale3d(1, 1, 1);
        filter: blur(0);
      }
    }
  }

  &--background {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $primary;

    img {
      width: 110%;
      height: 110%;
      margin: -5% 0 0 -5%;
      filter: blur(76px);
      object-fit: cover;
      opacity: 0.618;
      transition: all 200ms ease-in-out;
    }
  }
}

#guided-tour {
  .yith-teaser {
    @include breakpoints(xxs, xs) {
      height: 550px;
    }

    @include breakpoints(xxs) {
      height: 500px;
    }
  }

  .yith-teaser .yith-teaser-background {
    @include breakpoints(xxs, xs, sm) {
      height: 700px !important;
    }
  }

  .yith-teaser-figure {
    @include breakpoints(xxs, xs) {
      display: flex;
      justify-content: center;
    }

    & img {
      @include breakpoints(sm) {
        height: 300px;
        position: absolute;
        bottom: 0;
      }

      @include breakpoints(xs) {
        height: 250px;
        position: absolute;
        bottom: 0;
      }

      @include breakpoints(xxs) {
        height: 200px;
        position: absolute;
        bottom: 0;
      }
    }
  }
}