.yith-chronology {
  position: relative;
  width: calc(100% + 6em) !important;
  margin-left: -3em !important;
  margin-bottom: 0 !important;
  background-color: $primary;

  &:first-child {
    margin-top: -3em;
  }

  .sticky {
    z-index: 1;
    box-shadow: none;

    .yith-index {
      box-shadow: $box-shadow;
      opacity: 1;
    }
  }

  .yith-index {
    background-color: $secondary;
    box-shadow: $box-shadow;
    height: auto;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0;
    display: flex;
    transition: all 200ms ease-in-out;
    overflow-x: scroll;
    overflow-y: hidden;

    a,
    a:visited {
      padding: 1rem 2rem;
      cursor: pointer;
      position: relative;
      font-weight: 400;
      font-size: 1em;
      letter-spacing: 0.01em;
      color: $white;
      display: flex;
      align-items: flex-end;
      white-space: nowrap;
      opacity: 0.85;
      font-family: $serif;
      background-color: $secondary;
      -webkit-font-smoothing: none;
    }

    a:hover,
    a:focus {
      color: $white;
    }

    a.active {
      color: $white !important;
      opacity: 1;
      background-color: $highlight;
    }
  }

  .yith-structure-wrapper  {
    display: flex;
    position: relative;
    height: 100%;
    z-index: 0;
  }

  .yith-structure {
    width: 38.2%;
    margin-bottom: 35vh;
    color: $white;
    background-color: $primary;

    .yith-description {
      position: absolute;
      padding: 3rem;
      width: calc(38.2% - 8rem);
      font-family: $serif;
      margin-top: 4vh;
      font-size: 1.5rem;
      line-height: 1.25em;
    }

    > .yith-manifest {
      display: flex;
      padding: 3em;
      height: 100vh;
      flex-direction: column;
      justify-content: center;

      > header {
        font-family: $serif;
        font-size: 2em;
        margin: 0 0 1em;
        letter-spacing: -0.02em;
        text-rendering: optimizeLegibility;
        font-weight: 700;
        color: $muted;
        width: auto;
        display: inline-flex;

        span {
          position: relative;

          &::after {
            position: absolute;
            bottom: -0.25em;
            left: 0;
            display: block;
            content: '';
            width: 100%;
            height: 3px;
            background-color: $accent;
          }
        }
      }

      > div {
        font-size: 1em;
        line-height: 1.45em;

        p {
          font-size: inherit;
          line-height: inherit;
        }
      }
    }
  }

  .yith-screen {
    width: 61.8%;
    height: 0;
    position: fixed;
    right: 0;
    bottom: 0;
  }
}

.call-to-action {
  width: 200px;
  text-align: center;
  margin: 0;
  box-shadow: $box-shadow;
  background-color: $highlight;
  padding: 1em 2em;
  font-size: 0.8333em;
  margin-top: 2em;
  line-height: 2em;

  a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.studybook {
  font-style: italic;
}
