.yith-chronology {
  position: relative;
  width: calc(100% + 6em) !important;
  margin-left: -3em !important;
  margin-top: -3em;
  margin-bottom: 0;

  .yith-index {
    background-color: $white;
    box-shadow: $box-shadow;
    height: 76px;
    position: relative;
    z-index: 100;
    width: 100%;

    a,
    a:visited {
      &.active {
        font-weight: 700;
      }
    }
  }

  .yith-structure-wrapper  {
    display: flex;
    position: relative;
    height: 100%;
  }

  .yith-structure {
    width: 25%;

    > .yith-manifest {
      display: flex;
      padding: 3em;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }

    .yith-fixed {
      background-color: yellow;
      margin: 0;
    }
  }

  .yith-screen {
    width: 75%;
    height: calc(76vh - 76px);
    background-color: white;
    position: fixed;
    right: 0;
    bottom: 0;
  }
}
