.yith-comparison {
  max-width: 100%;
  width: 500px;
  box-shadow: $box-shadow;
  display: flex;

  .yith-comparison-teaser {
    position: relative;
    display: inline-flex;
    justify-content: center;

    &::after {
      background-color: $muted;
      display: block;
      width: 100%;
      height: 61.8%;
      content: '';
      position: absolute;
      bottom: 0;
      background: $primary;
      background: linear-gradient(0deg, rgba($primary, 0.618) 38.2%, rgba($primary, 0) 100%);
    }

    .yith-expand {
      position: absolute;
      z-index: 1;
      width: auto;
      text-align: center;
      bottom: 3rem;
      margin: 0;
      box-shadow: $box-shadow;
    }
  }

  .yith-modal {
    display: flex;

    .yith-modal--navigation {
      background-color: #dcdcdc;
      display: flex;
      flex-direction: column;
      padding-top: 2em;

      > a {
        display: block;
        padding: 0 2em 2em 2em;
        opacity: 0.5;
        transition: all 200ms ease-in-out;

        &.active {
          opacity: 1;

          figure {
            outline: 5px solid $accent !important;
          }
        }

        &:hover {
          opacity: 1;
        }

        figure {
          margin: 0;
          padding: 0;
          width: 75px;
          height: 75px;
          background-color: white;
          box-shadow: $box-shadow;
        }
      }
    }

    .yith-modal--inner {
      position: relative;
      flex-grow: 1;
    }
  }
}
