.yith-projection {
  position: relative;
  margin-bottom: 3em;

  &:first-child {
    margin-top: -3em;
  }

  .yith-projection-teaser {

    &:hover,
    &:focus {
      .yith-teaser-figure img {
        transform: scale3d(1.06, 1.06, 1.06);
      }

      .yith-teaser--background img {
        opacity: 0.382;
      }
    }

    &--inner {
      position: absolute;
      z-index: 1;
      width: 50%;
      margin-top: 6em;
    }

    .yith-description {
      color: $white;
      padding: 0 3em 1em 0;
      font-family: $serif;
      font-size: 2rem;
      line-height: 1.25em;
    }

    .yith-expand {
      z-index: 1;
      width: auto;
      text-align: center;
    }
  }

  .yith-structure {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: block;

    .yith-hidden {
      display: none;
    }

    .yith-context {
      font-family: $sans;
      position: absolute;
      z-index: 2;
      left: 0;
      bottom: 0;
      background-color: white;
      margin: 1em;
      width: 25vw;
      box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
      font-family: $sans;
      line-height: 1.25rem;

      &--html {
        padding: 1em 1em 0 1em;
      }

      &--details {
        background-color: #e0e0e0;
        padding: 1em;

        > div {
          font-size: 0.8333em;
          margin-bottom: 0.5em;
        }

        > span {
          display: block;
          font-size: 0.7222em;
          line-height: 1.25em;
          font-style: italic;
          color: #666;
        }
      }

      nav {
        background-color: $primary;
        display: flex;
        width: 100%;

        > a,
        > a:visited {
          padding: 0.75em 1.25em;
          font-size: 0.8333em;
          font-weight: 700;
          text-decoration: none;
          font-family: $sans;
          display: flex;
          justify-content: center;
          text-transform: uppercase;
          color: white;
          width: 50%;
          transition: all 200ms ease;



          &:hover {
            background-color: $accent;
          }

          &:first-child {
            border: none;
          }

          &.yith-minimize-button {
            flex: 1;
          }
        }
      }

      > div {
        strong {
          font-size: 1em;
          font-weight: 800;
        }

        p {
          font-size: 0.8333em;
        }
      }
    }
  }

  .mirador-viewer {
    background-color: black;

    .mosaic-root {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .mosaic-tile {
        margin: 0;

        .mosaic-window-body header,
        .mirador-osd-navigation,
        .mirador-osd-info {
          display: none;
        }
      }
    }
  }
}
