$sans: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;


$primary: #1a181a;
$accent: #9a2700;
$secondary: #26355a;
$muted: #d4bfb0;
$white: #FAF9F9;
