.exhibits-header {
  background-color: white;
  box-shadow: $box-shadow;

  h1 {
    padding: 3rem 3rem;
    margin: 0;
  }

  a,
  a:visited {
    color: $secondary;
    text-decoration: none;
  }
}
