h1 {
  padding: 0;
  margin: 0 0 1.5rem;
  font-weight: 400 !important;
  font-family: $serif;
  letter-spacing: -0.02em;
  text-rendering: optimizeLegibility;
  font-size: 3rem;
  line-height: 1.1;
}
