nav {
  padding: 1em 2em;

  a,
  a:visited {
    margin-right: 2rem;
    font-weight: 400;
    position: relative;

    &::after {
      width: 0;
      height: 3px;
      background-color: $accent;
      content: ' ';
      position: absolute;
      left: 0;
      bottom: -6px;
      transition: all 200ms ease-in-out;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }

    &.active {
      font-weight: 700;

      &::after {
        width: 100%;
        background-color: darken($accent, 15);
      }
    }
  }
}
