section.exhibits-section {
  display: flex;
  margin-bottom: 2em;

  @include breakpoints(xxs, xs, sm) {
    flex-direction: column;
  }

  > div {
    width: 50%;

    @include breakpoints(xxs, xs, sm) {
      width: 100%;
    }

    &:first-child {
      margin-right: 2rem;
    }

    &:last-child {
      margin-left: 2rem;

      @include breakpoints(xxs, xs, sm) {
        margin-left: 0;
      }
    }


    > h1,
    > h2,
    > h3,
    > h4,
    > h5 {
      letter-spacing: -0.01em;
      font-family: $serif;
      font-weight: 400;
      color: $primary;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  p {
    line-height: 1.6em;

    a,
    a:visited {
      color: $accent;
    }
  }

  .exhibits-blockquote {
    font-family: $serif;
    padding: 0 2rem;
    margin-bottom: 4rem;

    > blockquote {
      font-size: 2rem;
    }

    figcaption {
      margin: 0 0 0 40px;
      font-family: $sans;
      font-weight: 700;
      color: $secondary;
      text-transform: uppercase;
      font-size: 0.8333rem;
    }
  }
}
