.yith {
  display: block;
  margin: 0;
  padding-bottom: 0 !important;
  max-width: 100% !important;
  width: 100% !important;

  &.yith-comparison {
    display: flex;
  }

  .yith-expand {
    font-family: $sans;
    background-color: $accent;
  }
}
