// components
@import "yith/components/expand";
@import "yith/components/figure";
@import "yith/components/figure-screen";
@import "yith/components/modal";
@import "yith/components/teaser";

// layout
@import "yith/layout/yith";
@import "yith/layout/chronology";
@import "yith/layout/comparison";
@import "yith/layout/present";
@import "yith/layout/projection";
@import "yith/layout/concert-programs";
@import "yith/layout/music-pedagogy";


.yith {
  display: block;
  padding-bottom: 0 !important;

  &.yith-comparison {
    display: flex;
  }

  .yith-expand {
    font-family: $sans;
    background-color: $accent;
  }
}
