.concert-programs-wrapper {
  background-color: #222;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

#concert-programs-comparison {
  justify-content: flex-end;
  height: 300px
}

.studybook {
  font-style: italic;
}

.comparison-grid {
  display: flex;
  justify-content: space-between;

  @include breakpoints(xxs) {
    flex-direction: column;
    justify-content: center;
  }

  img {
    max-width: 250px;
    min-width: 250px;
  }

.yith.yith-comparison {
  margin: 0 10px;
  justify-content: center;

    @include breakpoints(xs) {
      width: 150px;;
    }

    @include breakpoints(xxs) {
      width: 100%;
    }
  }

  .yith-comparison-teaser {
    @include breakpoints(xxs) {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 1.5em;

      .yith-expand {
        @include breakpoints(xxs) {
          display: flex;
          justify-content: center;
        }
      }
    }

    .yith-teaser {
      width: 100%;

      @include breakpoints(xs) {
        height: 100%;
      }

      .yith-teaser-figure {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }
}

.concert-programs-description p {
  line-height: 1.6em;
}

.concert-programs-title {
  font-size: 1.6rem;
}
