.music-pedagogy-wrapper {
  display: flex;
  width: 100% !important;
  margin-left: 0 !important;

  @include breakpoints(xs, sm) {
    justify-content: center;
    flex-direction: column;
  }

  .yith-figure figcaption p {
    display: none;
  }

  .yith figure figcaption {
    strong {
      display: block;
    }
  }

  p {
    line-height: 1.6em;
    font-family: "Gotham", sans-serif;
    font-weight: normal;
    color: #1a181a;
  }
}

section.exhibits-section .exhibits-blockquote {
  padding: 0;
  margin: 0;

  blockquote {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-style: italic;
    color: #465866;
  }
}

.gift-to-musicians, .musical-interpretation, .confessions {
  width: 70% !important;

  h2 {
    font-family: "DM Serif Display", Georgia, serif;
    font-weight: 400;
    letter-spacing: -0.01em;
    margin-bottom: 0;
    font-size: 1.3rem;
    }

  p {
    margin-top: 0.5em;
  }
}

.musical-interpretation-wrapper {
  display: flex;
  margin-left: 0 !important;

  p {
    font-family: "Gotham", sans-serif;
  }
}

.studybook {
  font-style: italic;
}

.confessions-wrapper {
  display: flex;

  p {
    line-height: 1.6em;
    font-family: "Gotham", sans-serif;
  }
}

.pedagogy-title {
  font-size: 1.6rem;
}

.gift-section {
  margin-top: 2rem;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}