.resources-intro {
  display: flex;

  @include breakpoints(xxs, xs, sm) {
    flex-direction: column;
    justify-content: center;
  }

  p {
    line-height: 1.6em;
    color: #1a181a;
  }

  .resources-flex {
    flex: 1;
    margin-right: 2em;

    p {
      margin-top: 0;
      color: #1a181a;
    }
  }
}

.resources-heading {
  font-family: "DM Serif Display", Georgia, serif;
  font-weight: 400;

  &.resources-heading-small {
    font-weight: normal;
    font-size: 1.3rem;
  }

  &.resources-heading-med {
    font-size: 1rem;
    letter-spacing: 0.1em !important;
    font-family: "Gotham", sans-serif;
    text-transform: uppercase;
  }

  &.resources-heading-large {
    font-size: 1.6rem;
    line-height: 1.1;
  }
}

.studybook {
    font-style: italic;
}

.other-resources-list {
  margin-bottom: 2em;
}

.resources-flex {
  margin-right: 2em;
  margin-bottom: 2em;

  @include breakpoints(xxs, xs, sm) {
    margin-right: 0 !important;
  }
}

.yith-wrapper-resources {
  .yith-figure {
    .yith-figure--preview {
      @include breakpoints(xxs, xs, sm) {
        justify-content: center;
      }
    }
  }

  figcaption {
    strong {
      @include breakpoints(xxs, xs, sm) {
        text-align: center;
      }
    }

    em {
      @include breakpoints(xxs, xs, sm) {
        display: block;
        text-align: center;
      }
    }
  }
}

.yith-figure .yith-figure--preview .yith-figure--preview--inner a img, .yith-figure .yith-figure--preview .yith-figure--preview--inner a:visited img {
  @include breakpoints(xxs, xs, sm) {
    max-height: 500px;
  }
}

ul {
  padding-left: 0;
}

ul li {
  list-style-type: none;
  padding: 1rem 0;
}

.resources-flex1, .resources-flex2, .resources-flex3 {
  width: 100%;
  display: flex;

  h2 {
    width: 25%;
    font-family: "Gotham", sans-serif;
    text-transform: uppercase;
    font-size: 1em !important;
    letter-spacing: 0.1em;
  }

  ul {
    width: 75%;
  }
}

.resources-headings {
  width: 25%;
  
  h2 {
    width: 100%;
  }
}

.resources-flex3-container {
  width: 70%;
  margin-bottom: 3em;

  h3 {
    font-weight: normal;
    font-size: 1.1em !important;
  }

  p {
    margin-bottom: 1.7em;
  }
}

a {
  color: $highlight;
}