.resources-intro {
  display: flex;

  @include breakpoints(xxs, xs, sm) {
    flex-direction: column;
    justify-content: center;
  }

  p {
    line-height: 1.6em;
    color: #1a181a;
  }

  .resources-flex {
    flex: 1;
    margin-right: 2em;

    p {
      margin-top: 0;
      color: #1a181a;
    }
  }
}

.resources-heading {
  font-family: "DM Serif Display", Georgia, serif;
  font-weight: 400;

  &.resources-heading-small {
    font-weight: normal;
  }

  &.resources-heading-med {
    font-size: 2rem;
  }

  &.resources-heading-large {
    font-size: 2.5rem;
    line-height: 1.1;
  }
}

.studybook {
    font-style: italic;
}

.other-resources-list {
  margin-bottom: 2em;
}

.resources-wrapper {
  .resources-list-bg {
    background-image: linear-gradient(#465866, #273139);
    position: absolute;
    width: 100%;
    z-index: 0;
    margin-left: -3rem;
    padding-top: 3rem;

    .other-resources {
      color: white;
      margin-left: 3rem;
    }

    ul {
      line-height: 1.6em;
      color: white;
      margin-right: 3rem;

      a {
        color: #B9E1E2;
      }
    }
  }
}

.acknowledgements-bg {
  padding: 2rem 3rem;
  background-color: white
}

.resources-flex {
  margin-right: 2em;

  @include breakpoints(xxs, xs, sm) {
    margin-right: 0 !important;
  }
}

.yith-wrapper-resources {
  .yith-figure {
    .yith-figure--preview {
      @include breakpoints(xxs, xs, sm) {
        justify-content: center;
      }
    }
  }

  figcaption {
    strong {
      @include breakpoints(xxs, xs, sm) {
        text-align: center;
      }
    }

    em {
      @include breakpoints(xxs, xs, sm) {
        display: block;
        text-align: center;
      }
    }
  }
}

.yith-figure .yith-figure--preview .yith-figure--preview--inner a img, .yith-figure .yith-figure--preview .yith-figure--preview--inner a:visited img {
  @include breakpoints(xxs, xs, sm) {
    max-height: 500px;
  }
}

.orange-border-finding-aids:after {
  content: "";
  position: absolute;
  height: 3px;
  background: #ff8200;
  margin-top: 2.2rem;
  width: 50%;
  left: 3rem;
  transform: translateX(-0%);

  @include breakpoints(xxs, xs, sm) {
    width: 90%;
  }
}

.orange-border-other:after {
  content: "";
  position: absolute;
  height: 3px;
  background: #ff8200;
  margin-top: 2.2rem;
  width: 50%;
  left: 3rem;
  transform: translateX(-0%);

  @include breakpoints(xxs, xs, sm) {
    width: 90%;
  }
}

.finding-aids {
  color: white;
  margin-left: 3rem;
}
